Converting to UTF-8 code units?

Hi!  What's the processing behind converting to UTF-8 code units?

I'm trying to accomplish this same thing, but not sure what the conversion process needs to be.

Any assistance is appreciated!

Thanks!

This is a wonderful page, by the way!  Thanks for making it!

And let me explain a little more about what I'm trying to accomplish.

I have a known Decimal NCR value, 119808 for a utf-8 character I want to represent as (convert to) "F0 9D 90 80" which is what your utility does brilliantly.

I'd like to be able to accomplish that programatically.  How does one go about doing that?  And I don't mean within a specific language like JavaScript, but what are the general calculations that need to be done _in any language_ to accomplish this?

Thanks so much!

@MarieTay wrote:
> What's the processing behind converting to UTF-8 code units?

[RFC-3629 section 3](https://tools.ietf.org/html/rfc3629#section-3) is a good starting point, with examples in [section 7](https://tools.ietf.org/html/rfc3629#section-7).  The wikipedia page for [UTF-8](https://en.wikipedia.org/wiki/UTF-8) also has a description and examples, plus lots of background.